<!DOCTYPE html>
<footer>
    <div>
        <img src="/favicon.png" alt="Provo City Council Logo" class="footer-logo">
        <p class="mb-0">SMU MH Committee &copy; 2023. All rights reserved.</p>
    </div>
</footer>