<!DOCTYPE html>
<footer>
    <div class="container">
        <img src="/favicon.png" alt="Logo" class="footer-logo">
        <p class="mb-0">SMU MH Committee &copy; 2023. All rights reserved.</p>
    </div>
</footer>