<!DOCTYPE html>
<header>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light" id="rest-navbar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <a href="/">
                <img src="/cityCouncilLogo.png" alt="Provo City Council Logo" id="logo">
            </a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <% if (loggedin) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/createAccount">Manage Accounts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/report">Report</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </nav>
</header>