<!DOCTYPE html>

<header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="/img/cityCouncilLogo.png" alt="">
        <!-- <h1>UpConstruction<span>.</span></h1> -->
        </a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        <nav id="navbar" class="navbar">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/dashboard">Dashboard</a>
            </li>
            <% if (loggedin) { %>
                <li><a href="/createAccount">Manage Accounts</a></li>
                <li><a href="/report">Report</a></li>
                <li><a class="nav-link" href="/logout">Logout</a></li>
            <% } else { %>
                <li><a href="/login">Login</a></li>
            <% } %>
        </ul>
        </nav>

    </div>
</header>