container_commands:
  00_install_deps:
    command: "sudo dnf install python3 augeas-libs"
    ignoreErrors: true
  10_create_venv:
    command: "sudo python3 -m venv /opt/certbot"
    ignoreErrors: true
  20_update_pip:
    command: "sudo /opt/certbot/bin/pip install --upgrade pip"
    ignoreErrors: true
  30_install_certbot:
    command: "sudo /opt/certbot/bin/pip install certbot certbot-nginx"
    ignoreErrors: true
  40_link_certbot:
    command: "sudo ln -s /opt/certbot/bin/certbot /usr/bin/certbot"
    ignoreErrors: true