/* Custom styles for the banner */
.banner {
    position: relative;
    height: 40em; /* Adjust the height as needed */
    background: url('provo_banner.jpg') center/cover no-repeat;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

/* Custom styles for the content section */
.content-section {
    background-color: #f8f9fa; /* Change background color as needed */
    padding: 50px 0;
    text-align: center;
}

/* need to find a dynamic way to do this */
.sliderLabel {
    display: inline-block;
    width: 23px;
    text-align: center;
    margin-bottom: 10px;
}

#logo {
    width: 15em;
}

.btns {
    margin-top: 5em;
}

#survey-btn {
    background-color: #419F42;
    border-color: #419F42;
    margin-bottom: 2em;
}

#survey-btn:hover {
    background-color: #2b6e2b;
}

#login-btn {
    background-color: #A9A9A9;
    border-color: #A9A9A9;
}

.subtitle {
    color: #505251;
}

.account {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.account h1 {
    margin-bottom: 1em;
}

#card-1 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 2em;
    max-width: 100em;
    padding: 2em;
}

#card-2 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 2em;
    max-width: 100em;
    padding: 2em;
}

fieldset {
    width: 100%;
    margin: 0;
    padding: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
}

button {
    background-color: #419F42;
    border-color: #419F42;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #2b6e2b;
}

/* for table search feature */
.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

.counter{
  padding:1em; 
  color:#ccc;
  float: right;
}

#small-search {
    width: 10em;
    float: right;
}

#table-container {
    width: 80%; 
    overflow-x: auto;
    margin: 20px auto; 
}

table {
    width: 100%; 
    border-collapse: collapse; 
}