<!-- confirm here if they want to delete account, and then delete it -->

<%- include('../partials/head') %>
<%- include('../partials/header') %>

<body>
    Add delete confirmation here
</body>


<%- include('../partials/footer') %>