<%- include('../partials/head') %>

<body>
    <div class="banner-container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <a href="/" class="navbar-brand">
                    <img src="/logo2.png" alt="Provo City Council Logo" id="logo">
                </a>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/" style="color: white;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard" style="color: white;">Dashboard</a>
                    </li>
                    <% if (loggedin) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/createAccount" style="color: white;">Manage Accounts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/report" style="color: white;">Report</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout" style="color: white;">Logout</a>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/login" style="color: white;">Login</a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </nav>
        <div class="banner">
            <div class="banner-text">
                <h1>Mind Matters</h1>
                <p>Exploring the impact of social media on mental health</p>
            </div>
            <div class="container">
                <div class="overlay"></div>
            </div>
        </div>    
    </div>

    <div class="content-section">
        <div class="container">
            <div class="card mb-5" id="card-1">
                <div class="row no-gutters">
                    <div class="col-md-4">
                    <img src="/AdobeStock_5.jpeg" class="card-img" alt="Artsy girl with brain">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">Help Us, Help You</h3>
                        <p class="card-text">
                            Embark on a journey to redefine community well-being! 
                            Take our survey on social media usage and mental health—your insights could be the key to positive change.
                            You can also see the data from the city of Provo by viewing our dashboard.
                            If you would like to participate, click below</p>
                        <a href="/survey" class="btn btn-primary btn-lg" id="survey-btn">Take Survey</a>
                        <a href="/dashboard" class="btn btn-primary btn-lg" id="login-btn">View City Data</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card mb-5" id="card-2">
                <div class="row no-gutters">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">Who We Are & Why We're Here</h3>
                            <p class="card-text">
                                The Provo City Council, comprised of seven dedicated councilors elected to four-year terms, 
                                serves as the city's part-time municipal legislative body.  Guided by their motto "<span style="font-weight: bold;">Welcome Home</span>", 
                                the Council is deeply invested in the holistic well-being of the community. 
                                Recognizing the integral connection between mental health and overall quality of life, 
                                the Council places a significant emphasis on initiatives that foster a supportive and 
                                resilient community. By addressing the broader aspects of community health, the Provo 
                                City Council exemplifies a commitment to enhancing the lives of its residents and creating a 
                                thriving, interconnected urban environment.
                            </p>
                            <span>Part of the team?</span>
                            <a href="/login" style="color: #4C659D; font-weight: bold;">Login Here</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="/AdobeStock_6.jpeg" class="card-img" alt="City council around table">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<%- include('../partials/footer') %>