<%- include('../partials/head') %>
<%- include('../partials/header') %>

<body>
    <!-- Banner Section -->
    <div class="banner">
    </div>

    <!-- Content Section with Buttons -->
    <!-- <div class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 btns">
                    <a href="/survey" class="btn btn-primary btn-lg" id="survey-btn">Take Social Media Survey</a>
                    <br/>
                    <a href="/login" class="btn btn-secondary btn-lg" id="login-btn">Login with City Credentials</a>
                </div>
            </div>
        </div>
    </div> -->
    <div class="content-section">
        <div class="container">
            <div class="card mb-5" id="card-1">
                <div class="row no-gutters">
                    <div class="col-md-4">
                    <img src="/AdobeStock_5.jpeg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">Mental Health Matters</h3>
                        <p class="card-text">Help us, help you! We are collecting annonymous surveys of how our 
                            community is doing with overal mental health. If you would like to participate, take the survey below.</p>
                        <a href="/survey" class="btn btn-primary btn-lg" id="survey-btn">Take Social Media Survey</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card mb-5" id="card-2">
                <div class="row no-gutters">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">Who We Are and Why We're Here</h3>
                            <p class="card-text">We are the city’s part-time, municipal legislative body. We meet regularly to handle all things related to our city.
                                We take our city motto seriously as we strive to invite all how come into our city to feel Welcome at Home.
                            </p>
                            <a href="/login" class="btn btn-secondary btn-lg" id="login-btn">Part of the Team? Login Here</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="/AdobeStock_6.jpeg" class="card-img" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<%- include('../partials/footer') %>