<%- include('../partials/head') %>
<%- include('../partials/header') %>

<body>
    <!-- Banner Section -->
    <div class="banner">
    </div>

    <!-- Content Section with Buttons -->
    <div class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 btns">
                    <a href="/survey" class="btn btn-primary btn-lg" id="survey-btn">Take Social Media Survey</a>
                    <br/>
                    <a href="/login" class="btn btn-secondary btn-lg" id="login-btn">Login with City Credentials</a>
                </div>
            </div>
        </div>
    </div>
</body>

<%- include('../partials/footer') %>