<%- include('../partials/head') %>
<%- include('../partials/header') %>

<!-- this page is for CITY WORKERS (have login but aren't admin) -->
<body>
    <div class="account">
        <h1 class="title">Modify Account</h1>
        <div class="container">
            <form class="login" action="/modifyAccount" method="post">
                <!-- return single account  -->
            </form>
        </div>
    </div>
</body>


<%- include('../partials/footer') %>