<%- include('../partials/head') %>
<%- include('../partials/header') %>

<body>
    <div class="account">
        <h1>Social Media Survey</h1>
        <p class="subtitle"> This is a voluntary survey asking questions regarding some demographic information and social media use.</p>
    </div>
    <div class="container account border rounded" id="login-form">
        <form action="/addSurvey" method="post">
            <!-- Q1: age -->
            <div class="form-group">
                <label for="age">1. Enter your age:</label><br/>
                <input type="number" class="form-control" name="age" placeholder="00" required min="1" max="100">
            </div>
            <!-- Q2: Gender -->
            <div class="form-group">
                <label>2. Select your gender:</label><br/>
                <input type="radio" id="male" name="gender" value="Male" required>
                <label for="male">Male</label>
                <input type="radio" id="female" name="gender" value="Female" required>
                <label for="female">Female</label>
                <input type="radio" id="other" name="gender" value="Other" required>
                <label for="other">Other</label>
                <input type="radio" id="preferNot" name="gender" value="PreferNot">
                <label for="preferNot">Prefer not to say</label>
            </div>
            <!-- Q3: Relationship status -->
            <div class="form-group">
                <label for="relationship">3. Select your relationship status:</label><br/>
                <select id="relationship" name="relationship" required>
                    <option value="" disabled selected hidden>Select an option</option>
                    <option value="Single">Single</option>
                    <option value="In a relationship">In a relationship</option>
                    <option value="Married">Married</option>
                    <option value="Divorced">Divorced</option>
                </select>
            </div>
            <!-- Q4: Occupation status -->
            <div class="form-group">
                <label for="work">4. Select your occupation status:</label><br/>
                <select id="work" name="work" required>
                    <option value="" disabled selected hidden>Select an option</option>
                    <option value="School Student">School Student (no college)</option>
                    <option value="University Student">University Student (some college)</option>
                    <option value="Salaried Worker">Salaried Worker</option>
                    <option value="Retired">Retired</option>
                    <option value="Other">None of the above</option>
                </select>
            </div>
            <!-- Q5: Organization -->
            <div class="form-group">
                <label>5. Select affiliated organization:</label><br/>
                <input type="checkbox" id="org1" name="organization[]" value="Company">
                <label for="org1">Company</label><br/>
                <input type="checkbox" id="org2" name="organization[]" value="Government">
                <label for="org2">Government</label><br/>
                <input type="checkbox" id="org3" name="organization[]" value="Private">
                <label for="org3">Private</label><br/>
                <input type="checkbox" id="org4" name="organization[]" value="School">
                <label for="org4">School</label><br/>
                <input type="checkbox" id="org5" name="organization[]" value="University">
                <label for="org5">University</label>
                <input type="checkbox" id="org6" name="organization[]" value="N/A">
                <label for="org6">N/A</label>
            </div>
            <!-- Q6: Use social media or no-->
            <div class="form-group">
                <label>6. Do you use social media?</label><br/>
                <input type="radio" id="yes" name="mediaUse" value="Yes" checked required>
                <label for="yes">Yes</label>
                <input type="radio" id="no" name="mediaUse" value="No" required>
                <label for="no">No</label>
            </div>
            <!-- Q7: Social media platform types -->
            <div class="form-group">
                <label>7. Select the social media platforms you use (if applicable)</label><br/>
                <input type="checkbox" id="social1" name="platform[]" value="Facebook">
                <label for="social1">Facebook</label>
                <input type="checkbox" id="social2" name="platform[]" value="Twitter">
                <label for="social2">Twitter (X)</label><br/>
                <input type="checkbox" id="social3" name="platform[]" value="Instagram">
                <label for="social3">Instagram</label>
                <input type="checkbox" id="social4" name="platform[]" value="YouTube">
                <label for="social4">YouTube</label><br/>
                <input type="checkbox" id="social5" name="platform[]" value="Snapchat">
                <label for="social5">Snapchat</label>
                <input type="checkbox" id="social6" name="platform[]" value="Discord">
                <label for="social6">Discord</label><br/>
                <input type="checkbox" id="social7" name="platform[]" value="Reddit">
                <label for="social7">Reddit</label>
                <input type="checkbox" id="social8" name="platform[]" value="Pinterest">
                <label for="social8">Pinterest</label><br/>
                <input type="checkbox" id="social9" name="platform[]" value="TikTok">
                <label for="social9">TikTok</label>
            </div>
            <!-- Q8: Avg time spent on social media -->
            <div class="form-group">
                <label for="time">8. On average, how much time do you spend on social media each day?</label><br/>
                <select id="time" name="time" required>
                    <option value="" disabled selected hidden>Select an option</option>
                    <option value="Less than 1 hour">Less than 1 hour</option>
                    <option value="Between 1 and 2 hours">Between 1 and 2 hours</option>
                    <option value="Between 2 and 3 hours">Between 2 and 3 hours</option>
                    <option value="Between 4 and 5 hours">Between 4 and 5 hours</option>
                    <option value="More than 5 hours">More than 5 hours</option>
                </select>
            </div>
            <h6>Questions 9-20 will be answered based on a scale of 1 (not very often) to 5 (very often)</h6>
            <!-- Q9: finding purpose on social media-->
            <div class="form-group">
                <label for="question9">9. How often do you find yourself using social media without a specific purpose?</label><br/>
                <input type="range" id="question9" name="woPurpose" min="1" max="5" value="0" step="1"><br />
    
                <label class="sliderLabel" for="question9">1</label>
                <label class="sliderLabel" for="question9">2</label>
                <label class="sliderLabel" for="question9">3</label>
                <label class="sliderLabel" for="question9">4</label>
                <label class="sliderLabel" for="question9">5</label>
            </div>
            <!-- Q10: distracted -->
            <div class="form-group">
                <label for="question10">10. How often do you get distracted by social media when you are busy doing something?</label><br/>
                <input type="range" id="question10" name="distracted" min="1" max="5" value="0" step="1"><br />
    
                <label class="sliderLabel" for="question10">1</label>
                <label class="sliderLabel" for="question10">2</label>
                <label class="sliderLabel" for="question10">3</label>
                <label class="sliderLabel" for="question10">4</label>
                <label class="sliderLabel" for="question10">5</label>
            </div>
            <!-- Q11: restless -->
            <div class="form-group">
                <label for="question11">11. Do you feel restless if you haven’t used social media in a while?</label><br/>
                <input type="range" id="question11" name="restless" min="1" max="5" value="0" step="1"><br />
    
                <label class="sliderLabel" for="question11">1</label>
                <label class="sliderLabel" for="question11">2</label>
                <label class="sliderLabel" for="question11">3</label>
                <label class="sliderLabel" for="question11">4</label>
                <label class="sliderLabel" for="question11">5</label>
            </div>
            <!-- Q12: distracted -->
            <div class="form-group">
                <label for="question12">12. How easily distracted are you?</label><br/>
                <input type="range" id="question12" name="naturalDistraction" min="1" max="5" value="0" step="1"><br />
    
                <label class="sliderLabel" for="question12">1</label>
                <label class="sliderLabel" for="question12">2</label>
                <label class="sliderLabel" for="question12">3</label>
                <label class="sliderLabel" for="question12">4</label>
                <label class="sliderLabel" for="question12">5</label>
            </div>
            <!-- Q13: worries -->
            <div class="form-group">
                <label for="question13">13. How much are you bothered by worries?</label><br/>
                <input type="range" id="question13" name="worries" min="1" max="5" value="0" step="1"><br />
    
                <label class="sliderLabel" for="question13">1</label>
                <label class="sliderLabel" for="question13">2</label>
                <label class="sliderLabel" for="question13">3</label>
                <label class="sliderLabel" for="question13">4</label>
                <label class="sliderLabel" for="question13">5</label>
            </div>
            <!-- Q14: concentration -->
            <div class="form-group">
                <label for="question14">14. Do you find it difficult to concentrate on things?</label><br/>
                <input type="range" id="question14" name="concentration" min="1" max="5" value="0" step="1"><br />
    
                <label class="sliderLabel" for="question14">1</label>
                <label class="sliderLabel" for="question14">2</label>
                <label class="sliderLabel" for="question14">3</label>
                <label class="sliderLabel" for="question14">4</label>
                <label class="sliderLabel" for="question14">5</label>
            </div>
            <!-- Q15: comparison -->
            <div class="form-group">
                <label for="question15">15. How often do you compare yourself to other successful people through the use of social media?</label><br/>
                <input type="range" id="question15" name="comparison" min="1" max="5" value="0" step="1"><br />
    
                <label class="sliderLabel" for="question15">1</label>
                <label class="sliderLabel" for="question15">2</label>
                <label class="sliderLabel" for="question15">3</label>
                <label class="sliderLabel" for="question15">4</label>
                <label class="sliderLabel" for="question15">5</label>
            </div>
            <!-- Q16: comparison -->
            <div class="form-group">
                <label for="question16">16. Following the previous question, how do you feel about these comparisons, generally speaking?</label><br/>
                <input type="range" id="question16" name="comparisonsGeneral" min="1" max="5" value="0" step="1"><br />
    
                <label class="sliderLabel" for="question16">1</label>
                <label class="sliderLabel" for="question16">2</label>
                <label class="sliderLabel" for="question16">3</label>
                <label class="sliderLabel" for="question16">4</label>
                <label class="sliderLabel" for="question16">5</label>
            </div>
            <!-- Q17: vaildation -->
            <div class="form-group">
                <label for="question17">17. How often do you look to seek validation from features of social media?</label><br/>
                <input type="range" id="question17" name="validation" min="1" max="5" value="0" step="1"><br />
    
                <label class="sliderLabel" for="question17">1</label>
                <label class="sliderLabel" for="question17">2</label>
                <label class="sliderLabel" for="question17">3</label>
                <label class="sliderLabel" for="question17">4</label>
                <label class="sliderLabel" for="question17">5</label>
            </div>
            <!-- Q18: depressed -->
            <div class="form-group">
                <label for="question18">18: How often do you feel depressed or down?</label><br/>
                <input type="range" id="question18" name="depressed" min="1" max="5" value="0" step="1"><br />
    
                <label class="sliderLabel" for="question18">1</label>
                <label class="sliderLabel" for="question18">2</label>
                <label class="sliderLabel" for="question18">3</label>
                <label class="sliderLabel" for="question18">4</label>
                <label class="sliderLabel" for="question18">5</label>
            </div>
            <!-- Q19: daily activities -->
            <div class="form-group">
                <label for="question19">19. How frequently does your interested in daily activities fluctuate?</label><br/>
                <input type="range" id="question19" name="dailyActivity" min="1" max="5" value="0" step="1"><br />
    
                <label class="sliderLabel" for="question19">1</label>
                <label class="sliderLabel" for="question19">2</label>
                <label class="sliderLabel" for="question19">3</label>
                <label class="sliderLabel" for="question19">4</label>
                <label class="sliderLabel" for="question19">5</label>
            </div>
    
            <!-- Q20: sleep-->
            <div class="form-group">
                <label for="question20">20. How often do you face issues regarding sleep?</label><br/>
                <input type="range" id="question20" name="sleep" min="1" max="5" value="0" step="1"><br />
    
                <label class="sliderLabel" for="question20">1</label>
                <label class="sliderLabel" for="question20">2</label>
                <label class="sliderLabel" for="question20">3</label>
                <label class="sliderLabel" for="question20">4</label>
                <label class="sliderLabel" for="question20">5</label>
            </div>
            <button type="submit" class="btn btn-primary" id="survey-btn" onclick="clearForm()">Submit</button>
        </form>
    </div>

    <script>
        function clearForm() {
            // You can use JavaScript to reset the form by accessing the form element and calling the reset() method
            document.getElementById("myForm").reset();
        }
    </script>
</body>


<%- include('../partials/footer') %>