<%- include('../partials/head') %>
<%- include('../partials/header') %>

<body>
    <div class="account">
        <h1>Thank you for taking our survey!</h1>
        <a href="/" class="btn btn-primary btn-lg" id="login-btn">Back to Home</a>
        <br>
        <a href="/dashboard" class="btn btn-primary btn-lg" id="survey-btn">View City Data</a>
    </div>
</body>

<%- include('../partials/footer') %>