<%- include('../partials/head') %>
<%- include('../partials/header') %>

<body>
    <h1>Thank you for taking our survey!</h1>
    <a href="/" class="btn btn-primary btn-lg" id="login-btn">Back to Home</a>
    <a href="/dashboard" class="btn btn-primary btn-lg" id="survey-btn">View City Data</a>
</body>

<%- include('../partials/footer') %>